#xls files
xls/

#file-lists
pdf_file_list.txt

#testing_file
author_parser_isolate.py

#pdf_files_folder
body_grab/

#google creds
drive_api/credentials.json
drive_api/token.pickle

#thumbnails
thumbnails/
